.Dropdown {
    position: relative;
    display: block;
}
#Dropdown-Button {
    position: relative; 
    display: block;
    cursor: pointer;
}

.Dropdown-Menu {
    display: none;
    background-color: white;
    margin-top: 10px;
    position: relative;
    width: 200px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
}

.Dropdown.active .Dropdown-Menu{
    display: block;
}
