.Dropdown {
    position: relative;
    display: block;
}
#Dropdown-Button {
    position: relative; 
    display: block;
}

.Dropdown-Menu {
    display: none;
    background-color: white;
    margin-top: 10px;
    position: relative;
}

.Dropdown:click .Dropdown-Menu{
    display: block;
}
